In [1]:
import pandas as pd

# 创建一个示例DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': ['a', 'b', 'c', 'd', 'e']}
df = pd.DataFrame(data)

# 随机选取DataFrame中的行
random_rows = df.sample(n=2)  # 选择2行
print("随机选取的行:")
print(random_rows)

# 删除随机选取的行
df = df.drop(random_rows.index)
print("删除随机选取的行后的DataFrame:")
print(df)

随机选取的行:
   A  B
3  4  d
4  5  e
删除随机选取的行后的DataFrame:
   A  B
0  1  a
1  2  b
2  3  c

In [2]:
import pandas as pd

# 创建示例表格
df1 = pd.DataFrame({'ID': [1, 2, 3],
                    'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4],
                    'Age': [25, 30, 35]})

# 合并两个表格
merged_df = pd.merge(df1, df2, on='ID', how='inner')
print(merged_df)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30

In [3]:
import pandas as pd

# 创建示例表格
df1 = pd.DataFrame({'ID': [1, 2, 3],
                    'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [4, 5, 6],
                    'Name': ['Dave', 'Eve', 'Frank']})

# 追加两个表格
appended_df = pd.concat([df1, df2], ignore_index=True)
print(appended_df)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4     Dave
4   5      Eve
5   6    Frank

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("./data/repa_data_20230630.xlsx")

In [3]:
df.head()

,pubpeer_id,title,comments_total,journals,published_time,author_1,author_1_id,link,affiliation,created,...,situation,rawcommentstext,comments,my_prediction_NEU,my_prediction_POS,my_prediction_NEG,total_comment,author_reply,author_active,reword
0,002C71700B7E707DE2FE75C198BAC7,Antileukemic effect of zerumbone-loaded nanost...,2,International Journal of Nanomedicine,2015,Heshu Sulaiman Sulaiman Rahman,29926779.0,/publications/002C71700B7E707DE2FE75C198BAC7#2,"Faculty of Veterinary Medicine, Universiti Put...","Fri, Mar 25, 2022 8:49 PM",...,1,[' Images in Figure 8 seem to show some repeat...,0.988941,0.641259,0.007117,0.351624,3,0,0.00,45.790200
1,003FFE17AF3EFB7D5486389615AD3E,Homeopathy combat against coronavirus disease ...,12,Zeitschrift fur Gesundheitswissenschaften = Jo...,2020,D. Kalliantas,22556612.0,/publications/003FFE17AF3EFB7D5486389615AD3E#12,Department of Materials Science and Engineerin...,"Sun, Jun 7, 2020 12:11 AM",...,1,[' This is a totally unscientific piece (I can...,0.998431,0.081617,0.003545,0.914837,12,3,0.25,48.269174
2,00442961D0994CC6C186D8C1558B09,Long noncoding RNA SNHG22 increases ZEB1 expre...,2,"Cell cycle (Georgetown, Tex.)",2020,Hong Gao,11188776.0,/publications/00442961D0994CC6C186D8C1558B09#2,"Department of Thyroid-Head and Neck Surgery, J...","Wed, Apr 22, 2020 9:46 AM",...,1,"[' Figs 2c and 5b,g. ![file] The turquoise ...",0.994018,0.974790,0.022007,0.003203,5,0,0.00,47.403562
3,005D80C447F09C2008B6397015BE9F,Litchi Seed Aqueous Extracts play a role in su...,2,Cell Cycle,2020,Yanling Ma,3664166.0,/publications/005D80C447F09C2008B6397015BE9F#2,"Department of Oncology, Hubei No.3 People's Ho...","Wed, Feb 26, 2020 2:24 AM",...,1,[' \\\\ Figure 3. Morphology of MCF-7 cell in ...,0.995968,0.945253,0.052369,0.002378,3,0,0.00,53.289520
4,005DF8CACBC0BED0BE5FE67C32FC97,Long non-coding RNA MIAT promotes non-small ce...,2,European Review for Medical and Pharmacologica...,2019,D. Lin,25584073.0,/publications/005DF8CACBC0BED0BE5FE67C32FC97#2,"Department of Thoracic Oncology, Fujian Cancer...","Mon, Jul 6, 2020 5:15 AM",...,1,[' This paper is one of a set of 121 papers th...,0.987079,0.972099,0.022557,0.005343,2,0,0.00,63.998941

In [4]:
new_df = df

In [6]:
df_re = df[df.situation==1]
df_nre = df[df.situation==0]

In [7]:
df_re.shape, df_nre.shape

((2361, 21), (23529, 21))

In [10]:
df_re_test = df_re.sample(n=400)
df_nre_test = df_nre.sample(n=400)
df_re = df_re.drop(df_re_test.index)
df_nre = df_nre.drop(df_nre_test.index)
df_re_test.shape, df_nre_test.shape, df_re.shape, df_nre.shape

((400, 21), (400, 21), (1961, 21), (23129, 21))

In [11]:
df_train = pd.concat([df_re, df_nre])
df_test = pd.concat([df_re_test, df_nre_test])
df_train.shape, df_test.shape

((25090, 21), (800, 21))

In [16]:
df_train.to_excel("./data/rpad_train.xlsx")
df_test.to_excel("./data/rpad_test.xlsx")

In [15]:
df_train = df_train.reset_index()
df_test = df_test.reset_index()